
html {
  height: 100%;
  background-color: rgb(76, 102, 164);
  background-repeat: repeat;
  background-position: top left;
  background-image: url('../img/bg-html.png');
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-repeat: repeat;
  background-position: top left;
  background-image: url('../img/bg-body.png');
  font-family: 'Open Sans' !important;
}